html {
  position: relative;
  min-height: 100%;
}

body {
  /* Meme valeur que la hauteur du footer */
  margin-bottom: 50px;
}

tr.clickable {
  cursor: pointer;
}

footer {
  background-color: #222;
  border-color: #080808;
  bottom: 0;
  margin-top: 40px;
  min-height: 50px;
  position: absolute;
  width: 100%;
}

.vcenter {
  display: flex;
  align-items: center;
}

@media (min-width: @screen-sm-min) {
  .vcenter {
    display: inherit;
  }
}

#searchWiki {
  background: #449d44;
  font-size: 200%;
  padding: 30px 0;
  margin: 20px 0;
}

#searchWiki label {
  color: white;
}

.navbar-header h1 {
  margin-top: 0;
}

.jumbotron {
  margin-bottom: 0;
}

/* tables */
table.tablesorter thead tr .header {
  background: url(../img/bg.gif) no-repeat center left;
  cursor: pointer;
  padding-left: 20px;
}

table.tablesorter thead tr .headerSortUp {
  background: url(../img/asc.gif) #f5f5f5 no-repeat center left;
}

table.tablesorter thead tr .headerSortDown {
  background: url(../img/desc.gif) #f5f5f5 no-repeat center left;
}
