<div class="container">
{% for alert in list_alerts %}
<div id="{{ alert['id'] }}" class="alert alert-warning alert-dismissible" role="alert">
  {{ alert['text']|raw }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
</div>
