<!DOCTYPE html>
<html class="no-js" lang="fr">

<head>
  <title>Ferme de Wiki</title>

  <meta charset="utf-8">
  <meta name="description" content="Ferme de Wikis">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous"
  >
  {% for css in list_css %}
  <link href="{{ css }}" rel="stylesheet" />
  {% endfor %}
</head>
<body>
  {% include 'twig/navbar.twig' %}

  {% include 'twig/alerts.twig' %}

  <div class="container well col-sm-offset-4 col-sm-4">
    <form class='form-horizontal' method="post" action="?view=admin&action=login">
      <div class="form-group">
        <label class='col-sm-2 control-label' for="username">Utilisateur</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="username">
        </div>
      </div>
      <div class="form-group">
        <label class='col-sm-2 control-label' for="password">Mot de passe</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" name="password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input class='btn btn-primary' class="form-control" type="submit" value="Connexion">
        </div>
      </div>
    </form>
  </div> <!--Fin container -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
